.button {
    background-color: #EFCB43;
	border-radius: 5px; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px; 
border: 2px solid #800000;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}
.button{
		border-radius: 5px; 
 -moz-border-radius: 5px; 
 -webkit-border-radius: 5px; 

  box-shadow: inset 0 0 20px rgba(239,203,67, 0);
  outline: 1px solid;
  outline-color: rgba(239,203,67, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.button:hover {
		border-radius: 5px; 
 -moz-border-radius: 5px; 
 -webkit-border-radius: 5px; 

  box-shadow: inset 0 0 20px rgba(239,203,67, .5), 0 0 20px rgba(239,203,67, .2);
  outline-color: rgba(239,203,67, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}


input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(239, 203, 67,1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba (239, 203, 67,1);
}
input[type=password], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(239, 203, 67,1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba (239, 203, 67,1);
}
label {
	color = 'black'
    color: black;
  	font-weight: bold;
 	padding: 4px;

	font-family: Verdana, Arial, Helvetica, sans-serif;
 	
}
.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}

img.avatar {
	width: 17%;
}


.container {
    padding: 16px;
}

span.reg {
    float: right;
    padding-top: 16px;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity:1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("img1.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("img2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("img3.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

