@charset "ISO-8859-1";
div 
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  }
  #searchResults{
			background-color: grey;
			width: 300;
			opacity: 0.8;
			
		}
		#searchResults:hover {
			opacity: 1.0;
		}
.filter 
{
	float: left;
    height: 100vh;
   }

.interest
{
	float: right;
    height: 100vh;
    }
.results
{
	float: center;
	
    
    margin-right: 500px;
    margin-left: 500px;
    text-align: center;  
    } 


input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;

    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 50%;
}


a.settings {
	float: right;
	}