#mainDiv{    
    background-color:grey;
    padding:20;
}
#descDiv{
    height: 30%;
    width: 100%;
    display: flex;
  }
  #descDiv2{
    height: 400px;
    width: 100%;
    display: flex;
  }
  #left {
    width: 35%;
    background-color: blue;
  }
  #middle {
    width: 50%;
    padding-left:20;
    
  }
  #desc{
      font-family: "Calibri";
      text-size:15;
  }
  h1{
      font-family: "Calibri";
  }
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height:100px;
}
#weather{
	width:40%;
}
#temp{
	float:left;
	width:33%;
}
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 100px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 50px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}